# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/

# =============================================== #
# Visual Studio / MonoDevelop / Sublime generated #
# =============================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.sublime-project
/.vscode/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============== #
# Game specific  #
# ============== #
Bin/

# =========== #
# Other files #
# =========== #
*~